<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%=@teaminfo[:name]%></h1>
   <h2>Coach: <%=@teaminfo[:coach]%></h2>
   <h2>Point Guard: <%=@teaminfo[:pg]%></h2>
   <h2>Shooting Guard: <%=@teaminfo[:sg]%></h2>
   <h2>Small Forward: <%=@teaminfo[:sf]%></h2>
   <h2>Power Forward: <%=@teaminfo[:pf]%></h2>
   <h2>Center: <%=@teaminfo[:c]%></h2>
 </body>
</html>
